/* Importing necessary modules and styles */
/* Font and color variables */
/* Font for logos and headers to create a unique brand style */
/* Primary font for most content to ensure readability */
/* Secondary font for additional styling, often used for titles */
/* Primary color for text or elements that need emphasis (white) */
/* Secondary color for backgrounds or contrasting areas (white/gray) */
/* Tertiary color for backgrounds or contrasting areas (black) */
/* Font styles and variables */
/* Navbar styles */
/* Footer styles: dark background, white text, padding for spacing */
footer {
  background-color: #333333;
  font-family: "Josefin Sans", sans-serif;
  color: #fff;
  padding: 1em 0;
  height: 20vh;
}

/* Footer content: flex layout to center items vertically and horizontally */
.footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; /* Stack items vertically */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; /* Center items horizontally */
  text-align: center; /* Center-align text */
  margin-top: 7vh;
}

.footer-first-title {
  font-size: 1.5rem;
}

.footer-second-title {
  font-size: 1rem;
}

/* Copyright text: small margin for separation from icons */
.footer-content p {
  margin: 0.5em 0;
}

/* Social icons container: flex layout for alignment and spacing */
.social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px; /* Space between icons */
  margin-top: 0.5em; /* Space above icons */
}

.social-icons a:hover {
  color: antiquewhite; /* Hover color for footer links */
}

/* Icon links: white color, larger size, and smooth hover transition */
.social-icons a {
  color: #fff;
  font-size: 1.5em;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

/* Hover effect for icons: changes color to light gray */
.social-icons a:hover {
  color: #0077b5;
}

/* LinkedIn icon: sets the official LinkedIn blue color and adjusts icon size */
.linkedin-icon {
  color: #0077b5; /* Official LinkedIn blue color */
}

/* Footer styles */
/* Main container for all sections */
.container-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-height: 100vh;
  background-color: #333333;
}

.container-section-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; /* Habilita o flexbox */
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; /* Centraliza horizontalmente */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; /* Centraliza verticalmente */
  background-color: #333333;
  width: 100%;
  height: 30vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.container-section-3 img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

/* Shared styles for sections 4, 5, and 6 */
.container-section-4,
.container-section-5,
.container-section-6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 70vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* Background images for sections */
.container-section-4 {
  background-image: url("../img/img-section-4.png") !important;
}

.container-section-5 {
  background-image: url("../img/img-section-5.png") !important;
}

.container-section-6 {
  background-image: url("../img/img-section-6.png") !important;
}

/* Left and right containers for sections */
.left-container-section-4,
.right-container-section-5 {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 60vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  background-color: rgba(51, 51, 51, 0.9); /* Converte fonts.$tertiary-color para 90% de opacidade */
}

.right-container-section-4,
.left-container-section-5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60vw;
}

/* Inner containers for sections 4, 5, and 6 */
.container-section-4-inside,
.container-section-5-inside,
.container-section-6-inside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 65vw;
  height: 30vh;
  gap: 20px;
}

/* Overrides for specific sections */
.container-section-4-inside,
.container-section-5-inside {
  background-color: transparent;
}

.container-section-6-inside {
  background-color: #333333;
}

/* Left container for section 6 */
.left-container-section-6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40vw;
  height: 100%;
}

.left-container-section-6 img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/* Right container for section 6 */
.right-container-section-6 {
  margin: 0px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 60vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}

.right-container-section-6 p {
  margin: 0;
}

/* Common styles for text elements in section 6 */
.main-title-sec-4,
.main-content-sec-4,
.second-content-sec-4,
.main-title-sec-5,
.main-content-sec-5,
.second-content-sec-5,
.main-title-sec-6,
.main-content-sec-6,
.second-content-sec-6 {
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  line-height: 26px;
  color: #ffffff;
}

.main-title-sec-4,
.main-title-sec-5,
.main-title-sec-6 {
  font-family: "Aleo", sans-serif;
  font-size: 2.25rem;
}

.main-content-sec-4,
.main-content-sec-5,
.main-content-sec-6 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 2rem;
}

.second-content-sec-4,
.second-content-sec-5,
.second-content-sec-6 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1rem;
}

/* Styles for icons */
.color-icon {
  color: #5474fd !important;
}

/* Styles for the "Book Now" button */
.button-standard {
  width: 12rem;
  height: 3.94rem;
  background: #5474fd;
  font-family: "Josefin Sans", sans-serif;
  font-size: 0.8rem;
  color: #ffffff;
  border: none;
  border-radius: 0.1rem;
  cursor: pointer;
  -webkit-box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  -webkit-transition: -webkit-transform 0.3s ease, -webkit-box-shadow 0.3s ease;
  transition: -webkit-transform 0.3s ease, -webkit-box-shadow 0.3s ease;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  transition: transform 0.3s ease, box-shadow 0.3s ease, -webkit-transform 0.3s ease, -webkit-box-shadow 0.3s ease;
}

.button-standard:hover {
  -webkit-transform: translateY(-4px) scale(1.05);
          transform: translateY(-4px) scale(1.05);
  -webkit-box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2);
  background: #4563d9;
}