@charset "UTF-8";
/* Importing necessary modules and styles */
/* Font and color variables */
/* Font for logos and headers to create a unique brand style */
/* Primary font for most content to ensure readability */
/* Secondary font for additional styling, often used for titles */
/* Primary color for text or elements that need emphasis (white) */
/* Secondary color for backgrounds or contrasting areas (white/gray) */
/* Tertiary color for backgrounds or contrasting areas (black) */
/* Font styles and variables */
/* Navbar styles */
/* Footer styles: dark background, white text, padding for spacing */
footer {
  background-color: #333333;
  font-family: "Josefin Sans", sans-serif;
  color: #fff;
  padding: 1em 0;
  height: 20vh;
}

/* Footer content: flex layout to center items vertically and horizontally */
.footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; /* Stack items vertically */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; /* Center items horizontally */
  text-align: center; /* Center-align text */
  margin-top: 7vh;
}

.footer-first-title {
  font-size: 1.5rem;
}

.footer-second-title {
  font-size: 1rem;
}

/* Copyright text: small margin for separation from icons */
.footer-content p {
  margin: 0.5em 0;
}

/* Social icons container: flex layout for alignment and spacing */
.social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px; /* Space between icons */
  margin-top: 0.5em; /* Space above icons */
}

.social-icons a:hover {
  color: antiquewhite; /* Hover color for footer links */
}

/* Icon links: white color, larger size, and smooth hover transition */
.social-icons a {
  color: #fff;
  font-size: 1.5em;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

/* Hover effect for icons: changes color to light gray */
.social-icons a:hover {
  color: #0077b5;
}

/* LinkedIn icon: sets the official LinkedIn blue color and adjusts icon size */
.linkedin-icon {
  color: #0077b5; /* Official LinkedIn blue color */
}

/* Footer styles */
/* Main container for all sections */
.container-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-height: 100vh;
  background-color: #333333;
}

/* Shared styles for container sections */
.container-section-1,
.container-section-2,
.container-section-3,
.container-section-4,
.container-section-5,
.container-section-6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* Specific height for sections */
.container-section-1,
.container-section-2,
.container-section-4,
.container-section-5,
.container-section-6 {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 70vh;
}

.container-section-3 {
  height: 30vh;
}

.container-section-3 img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

/* Background images for sections */
.container-section-1 {
  background-image: url("../img/img-section-1.png");
}

.container-section-2 {
  background-image: url("../img/img-section-2.png");
}

.container-section-4 {
  background-image: url("../img/img-section-4.png");
}

.container-section-5 {
  background-image: url("../img/img-section-5.png");
}

.container-section-6 {
  background-image: url("../img/img-section-6.png");
}

/* Shared styles for left and right containers */
.left-container-section-2,
.left-container-section-4,
.right-container-section-5,
.right-container-section-6 {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 60vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  background-color: rgba(51, 51, 51, 0.9); /* 90% opacity */
}

.right-container-section-2 {
  width: 40vw;
  gap: 20px;
}

.right-container-section-4,
.left-container-section-5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60vw;
}

.container-section-1-inside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* Inner containers for sections */
.container-section-2-inside,
.container-section-4-inside,
.container-section-5-inside,
.container-section-6-inside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 65vw;
  height: 30vh;
  gap: 20px;
}

/* Overrides for specific sections */
.right-container-section-6,
.left-container-section-2,
.container-section-4-inside,
.container-section-5-inside {
  background-color: transparent;
}

.container-section-6-inside {
  background-color: #333333;
}

/* Left container for section 6 */
.left-container-section-6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40vw;
  height: 100%;
}

.left-container-section-6 img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/* Right container for section 6 */
.right-container-section-6 {
  margin: 0 20px;
}

/* Common styles for text elements */
.main-title-sec-1,
.main-title-sec-2,
.main-title-sec-4,
.main-title-sec-5,
.main-title-sec-6,
.main-content-sec-2,
.main-content-sec-4,
.main-content-sec-5,
.main-content-sec-6,
.second-content-sec-2,
.second-content-sec-4,
.second-content-sec-5,
.second-content-sec-6 {
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  line-height: 26px;
  color: #ffffff;
}

.main-title-sec-2,
.main-title-sec-4,
.main-title-sec-5,
.main-title-sec-6 {
  font-family: "Aleo", sans-serif;
  font-size: 2.25rem;
}

.main-title-sec-1,
.main-content-sec-2,
.main-content-sec-4,
.main-content-sec-5,
.main-content-sec-6 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 2rem;
}

.main-title-sec-1 {
  font-size: 3rem;
  font-weight: 700;
}

.second-title-sec-1,
.second-content-sec-2,
.second-content-sec-4,
.second-content-sec-5,
.second-content-sec-6 {
  font-family: "Josefin Sans", sans-serif;
  color: #e8e8e8;
  font-size: 1rem;
}
.second-title-sec-1.second-title-sec-1,
.second-content-sec-2.second-title-sec-1,
.second-content-sec-4.second-title-sec-1,
.second-content-sec-5.second-title-sec-1,
.second-content-sec-6.second-title-sec-1 {
  font-size: 1.375rem;
  font-weight: 400;
}

/* Styles for icons */
.color-icon {
  color: #5474fd;
}

/* Styles for the "Book Now" button */
.button-standard {
  width: 12rem;
  height: 3.94rem;
  background: #5474fd;
  font-family: "Josefin Sans", sans-serif;
  font-size: 0.8rem;
  color: #ffffff;
  border: none;
  border-radius: 0.1rem;
  cursor: pointer;
  -webkit-box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  -webkit-transition: -webkit-transform 0.3s ease, -webkit-box-shadow 0.3s ease;
  transition: -webkit-transform 0.3s ease, -webkit-box-shadow 0.3s ease;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  transition: transform 0.3s ease, box-shadow 0.3s ease, -webkit-transform 0.3s ease, -webkit-box-shadow 0.3s ease;
}

.button-standard:hover {
  -webkit-transform: translateY(-4px) scale(1.05);
          transform: translateY(-4px) scale(1.05);
  -webkit-box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2);
  background: #4563d9;
}

.scroll-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; /* Organiza o texto e a seta verticalmente */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; /* Centraliza horizontalmente */
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; /* Centraliza verticalmente */
  font-family: "Josefin Sans", sans-serif; /* Escolha uma fonte simples */
  color: #ffffff; /* Define a cor do texto */
  cursor: pointer; /* Mostra o cursor de "pointer" para indicar interatividade */
  font-size: 0.9rem; /* Define o tamanho do texto */
  margin-top: 20px;
}

.scroll-button .arrow {
  font-size: 0.9rem; /* Define o tamanho da seta */
  margin-top: 10px; /* Adiciona espaçamento entre o texto e a seta */
  -webkit-animation: bounce 1.5s infinite;
          animation: bounce 1.5s infinite; /* Aplica a animação */
}

/* Animação de "pulsar" */
@-webkit-keyframes bounce {
  0%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
}
@keyframes bounce {
  0%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
}
.input-style {
  width: 40vw;
  height: 4rem;
  padding: 0.8rem;
  border: none;
  border-radius: 0.2rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
  font-size: 0.9rem;
  margin-bottom: 20px;
}

.search-box {
  background-color: white;
  height: 4.1rem;
  padding: 3px;
}