/* Font and color variables */

/* Font for logos and headers to create a unique brand style */
$logo-font: "Josefin Sans", sans-serif;

/* Primary font for most content to ensure readability */
$main-font: "Josefin Sans", sans-serif;

/* Secondary font for additional styling, often used for titles */
$secondary-font: "Aleo", sans-serif;

/* Primary color for text or elements that need emphasis (white) */
$main-color: #ffffff;

/* Secondary color for backgrounds or contrasting areas (black) */
$secondary-color: #E8E8E8;

/* Secondary color for backgrounds or contrasting areas (black) */
$tertiary-color: #333333;
