/* Importing modules and global styles */
@use "fonts"; /* Font styles and variables */
@import "navbar"; /* Navbar styles */
@import "footer"; /* Footer styles */
@import "responsiveness"; /* Responsive adjustments */

/* Main container for all sections */
.container-section {
    display: flex;
    width: 100%;
    max-height: 100vh;
    background-color: fonts.$tertiary-color;
}

/* Shared styles for container sections */
.container-section-1,
.container-section-2,
.container-section-3,
.container-section-4,
.container-section-5,
.container-section-6 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* Heights for specific sections */
.container-section-1,
.container-section-2,
.container-section-4,
.container-section-5,
.container-section-6 {
    flex-direction: column;
    height: 70vh;
}

.container-section-3 {
    height: 30vh;
}

.container-section-3 img {
    max-width: 100%;
    max-height: 100%;
}

/* Background images for specific sections */
.container-section-1 {
    background-image: url("../img/img-section-1.png");
}

.container-section-2 {
    background-image: url("../img/img-section-2.png");
}

.container-section-4 {
    background-image: url("../img/img-section-4.png");
}

.container-section-5 {
    background-image: url("../img/img-section-5.png");
}

.container-section-6 {
    background-image: url("../img/img-section-6.png");
}

/* Shared styles for left and right containers */
.left-container-section-2,
.left-container-section-4,
.right-container-section-5,
.right-container-section-6 {
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 60vw;
    justify-content: center;
    gap: 10px;
    background-color: rgba(fonts.$tertiary-color, 0.9); /* 90% opacity */
}

.right-container-section-2 {
    width: 40vw;
    gap: 20px;
}

.right-container-section-4,
.left-container-section-5 {
    display: flex;
    width: 60vw;
}

.container-section-1-inside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Inner containers for sections */
.container-section-2-inside,
.container-section-4-inside,
.container-section-5-inside,
.container-section-6-inside {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65vw;
    height: 30vh;
    gap: 20px;
}

/* Overrides for specific sections */
.right-container-section-6,
.left-container-section-2,
.container-section-4-inside,
.container-section-5-inside {
    background-color: transparent;
}

.container-section-6-inside {
    background-color: fonts.$tertiary-color;
}

/* Left container for section 6 */
.left-container-section-6 {
    display: flex;
    width: 40vw;
    height: 100%;
}

.left-container-section-6 img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

/* Right container for section 6 */
.right-container-section-6 {
    margin: 0 20px;
}

/* Common styles for text elements */
.main-title-sec-1,
.main-title-sec-2,
.main-title-sec-4,
.main-title-sec-5,
.main-title-sec-6,
.main-content-sec-2,
.main-content-sec-4,
.main-content-sec-5,
.main-content-sec-6,
.second-content-sec-2,
.second-content-sec-4,
.second-content-sec-5,
.second-content-sec-6 {
    font-weight: 400;
    font-style: normal;
    line-height: 26px;
    color: fonts.$main-color;
}

.main-title-sec-2,
.main-title-sec-4,
.main-title-sec-5,
.main-title-sec-6 {
    font-family: fonts.$secondary-font;
    font-size: 2.25rem;
}

.main-title-sec-1,
.main-content-sec-2,
.main-content-sec-4,
.main-content-sec-5,
.main-content-sec-6 {
    font-family: fonts.$main-font;
    font-size: 2rem;
}

.main-title-sec-1 {
    font-size: 3rem;
    font-weight: 700;
}

.second-title-sec-1,
.second-content-sec-2,
.second-content-sec-4,
.second-content-sec-5,
.second-content-sec-6 {
    font-family: fonts.$main-font;
    color: fonts.$secondary-color;
    font-size: 1rem;

    &.second-title-sec-1 {
        font-size: 1.375rem;
        font-weight: 400;
    }
}

/* Styles for icons */
.color-icon {
    color: #5474fd;
}

/* Styles for the "Book Now" button */
.button-standard {
    width: 12rem;
    height: 3.94rem;
    background: #5474fd;
    font-family: fonts.$main-font;
    font-size: 0.8rem;
    color: fonts.$main-color;
    border: none;
    border-radius: 0.1rem;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition:
        transform 0.3s ease,
        box-shadow 0.3s ease;
}

.button-standard:hover {
    transform: translateY(-4px) scale(1.05);
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2);
    background: #4563d9;
}

/* Styles for the scroll button */
.scroll-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: fonts.$main-font;
    color: fonts.$main-color;
    cursor: pointer;
    font-size: 0.9rem;
    margin-top: 20px;
}

.scroll-button .arrow {
    font-size: 0.9rem;
    margin-top: 10px;
    animation: bounce 1.5s infinite;
}

/* Bounce animation */
@keyframes bounce {
    0%,
    100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(10px);
    }
}

/* Styles for input fields */
.input-style {
    width: 40vw;
    height: 4rem;
    padding: 0.8rem;
    border: none;
    border-radius: 0.2rem;
    box-sizing: border-box;
    font-family: fonts.$main-font;
    font-size: 0.9rem;
    margin-bottom: 20px;
}

.search-box {
    background-color: white;
    height: 4.1rem;
    padding: 3px;
}
